<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogToTrace="true">

  <!-- 
    - 日志文件被放置于 D:/NLogs 文件夹中，文件名为 {日志类目}.log 或 {日志类目}.err
    - 日志按天存档，放置于 D:/NLogs/Archives/{日志类目} 文件夹中，文件名为 {日期}.log 或 {日期}.err
    // OLD -> D:/NLogs/${shortdate}/${filesystem-normalize:inner=${logger}}.log
  -->
  <targets>

    <!-- Info -->
    <target name="INFO_LOG_FILE"
            xsi:type="File"
            layout="[${longdate}] ${pad:padding=-5:inner=${level:uppercase=true}} ${logger}: ${newline}${message}${onexception:inner=${newline}${exception:format=ToString}}${newline}"
            encoding="utf-8"
            fileName="C:/NLogs/Frankyu.WebApiCoreDemo/Info/${shortdate}.log" />

    <!-- Debug -->
    <target name="DEBUG_LOG_FILE"
            xsi:type="File"
            layout="[${longdate}] ${pad:padding=-5:inner=${level:uppercase=true}} ${logger}: ${newline}${message}${onexception:inner=${newline}${exception:format=ToString}}${newline}"
            encoding="utf-8"
            fileName="C:/NLogs/Frankyu.WebApiCoreDemo/${shortdate}.log" />

    <!-- Error -->
    <target name="ERROR_LOG_FILE"
            xsi:type="File"
            layout="[${longdate}] ${pad:padding=-5:inner=${level:uppercase=true}} ${logger}: ${newline}${message}${onexception:inner=${newline}${exception:format=ToString}}${newline}"
            encoding="utf-8"
            fileName="C:/NLogs/Frankyu.WebApiCoreDemo/${shortdate}.log" />

  </targets>

  <rules>

    <logger name="Frankyu.*" level="Info" writeTo="INFO_LOG_FILE" />
    <logger name="Frankyu.*" level="Debug" writeTo="DEBUG_LOG_FILE" />
    <logger name="Frankyu.*" level="Error" writeTo="ERROR_LOG_FILE" />

  </rules>
</nlog>